/* global classes*/


/* big boxes */
#container{
	width: 980px;
	height: 800px;
	margin: 0 auto;
	background-color: #e8e8e8;
}

#content{
	width: 100%;
	/*background-color: black;*/
	background-color: #767676;
}

#head-logo{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 50px;
	background-color: #ededed;
}

#splash{
	display: inline-block;
	vertical-align: top;
	width: 60%;
	height: 255px;
	background-color: #9d9d9d;
}

#message{
	width: 100%;
	background-color: #d0d0d0;
}

.item{
	display: inline-block;
	vertical-align: top;
	width: 20%;
}