h1{
	font-family: arial, sans-serif;
	font-size: 11pt;
	color: black;
	background-color: #f7cf00;
	width: 98%;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
}

h2{
	font-family: arial, sans-serif;
	font-size: 12pt;
	color: white;
	padding-left: 10px;
}

#container{
	width: 980px;
	margin: 0 auto;
	/*background-color: #e8e8e8;*/
	font-family: arial, sans-serif;
	font-size: 16pt;
}

#content{
	width: 100%;
	background-color: black;
	/*background-color: #767676;*/
	padding-left: 25px;
}
#content img:first-child{
	margin: 10px 10px 0 0;
	border: 3px solid white;
}

#head-logo{
	width: 100%;
	/*background-color: #ededed;*/
	font-size: 80%;
	font-weight: bold;
}
#head-logo img{
	display: inline-block;
	vertical-align: top;
}
#head-logo p{
	margin: 30px 0 0 0;
	display: inline-block;
	vertical-align: top;
	margin-left: 300px;
}
#head-nav{
	width: 100%;
	height: 50px;
	background: rgba(224,239,249,0.95);
	background: -moz-linear-gradient(top, rgba(224,239,249,0.95) 0%, rgba(181,198,208,0.95) 8%, rgba(216,225,231,0.97) 47%, rgba(242,246,248,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(224,239,249,0.95)), color-stop(8%, rgba(181,198,208,0.95)), color-stop(47%, rgba(216,225,231,0.97)), color-stop(100%, rgba(242,246,248,1)));
	background: -webkit-linear-gradient(top, rgba(224,239,249,0.95) 0%, rgba(181,198,208,0.95) 8%, rgba(216,225,231,0.97) 47%, rgba(242,246,248,1) 100%);
	background: -o-linear-gradient(top, rgba(224,239,249,0.95) 0%, rgba(181,198,208,0.95) 8%, rgba(216,225,231,0.97) 47%, rgba(242,246,248,1) 100%);
	background: -ms-linear-gradient(top, rgba(224,239,249,0.95) 0%, rgba(181,198,208,0.95) 8%, rgba(216,225,231,0.97) 47%, rgba(242,246,248,1) 100%);
	background: linear-gradient(to bottom, rgba(224,239,249,0.95) 0%, rgba(181,198,208,0.95) 8%, rgba(216,225,231,0.97) 47%, rgba(242,246,248,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0eff9', endColorstr='#f2f6f8', GradientType=0 );
}
#head-nav ul li{
	display: inline;
	color: #636363;
	font-size: 70%;
	font-weight: bold;
}
#head-nav li:before{
	content: " | ";
}
#head-nav li:first-child:before{
	content: none;
}

#splash{
	display: inline-block;
	vertical-align: top;
	width: 57%;
	height: 255px;
	margin: 10px 0 0 0;
	/*background-color: #9d9d9d;*/

	background: rgba(76,76,76,1);
	background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 26%, rgba(43,43,43,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(26%, rgba(89,89,89,1)), color-stop(100%, rgba(43,43,43,1)));
	background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 26%, rgba(43,43,43,1) 100%);
	background: -o-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 26%, rgba(43,43,43,1) 100%);
	background: -ms-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 26%, rgba(43,43,43,1) 100%);
	background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 26%, rgba(43,43,43,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2b2b2b', GradientType=1 );

}
#splash p{
	font-size: 60%;
	margin-left: 10px;
	color: white;
}

#message{
	width: 100%;
	/*background-color: #d0d0d0;*/
	font-size: 60%;
}
#message p{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	display: inline-block;
	vertical-align: top;
	color: #f7cf00;
}
#message img{
	height: 10px;
	width: 30px;
	margin: 0 0 0 0;
}

.item{
	display: inline-block;
	vertical-align: top;
	width: 200px;
	/*height: 200px;*/
	background-color: white;
	margin: 5px 40px 0 0;
}
.item img{
	width: 100%;
	margin: 0 0 0 0;
	border: none;
}
.item p{
	font-size: 60%;
}
.item h1{
	width: 193px;
	margin: 0 0 0 0;
}
.item button{
	background-color: #f7cf00;
	border-radius: 3px;
	margin-left: 0px;
}